.button {
  position: relative;
  padding: 18px 50px;
  font-size: 0.8889rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--primary-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid var(--primary-text-color);
  border-radius: 27px;
  transition:
    color 0.5s ease,
    background-color 0.5s ease,
    border-color 0.5s ease,
    opacity 0.5s ease;

  &:hover {
    color: var(--secondary-background-color);
    background-color: var(--primary-text-color);
  }

  &:focus-visible {
    outline: 1px dashed var(--primary-text-color);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  &--active {
    pointer-events: all;
    opacity: 1;
  }


  &--usage-radius {
    display: inline-block;
    padding: 19px 66px;
    font-size: 1.2222rem;
    color: var(--secondary-text-color);
    // background-color: var(--secondary-background-color);

    &:hover {
      color: var(--primary-background-color);
      background-color: var(--secondary-text-color);
      // border-color: var(--secondary-text-color);
      // border: 3px solid var(--primary-text-color);
    }
  }
}
