.colors-article {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  padding: 30px 68px 46px 68px;
  border: 3px solid var(--secondary-border-color);
  border-radius: 50px;

  & .title {
    grid-column: 1 / -1;
    margin: 0 0 20px 0;
  }
}

.colors-article__example {
  display: grid;
  grid-template-rows: min-content min-content auto;
  gap: 20px;

  & .main-inner__element {
    align-self: start;
    justify-self: start;
  }
}

.colors-article__example-block {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 117px;
  padding: 30px 50px;
  background-color: var(--block-color);
  border-radius: 10px;

  &--two-elements {
    position: relative;

    &::before {
      display: block;
      width: 60px;
      height: 55px;
      margin-right: 40px;
      content: "";
      background-color: var(--card-background);
      border-radius: 5px;
    }
  }
}

.colors-article__example-block-text {
  font-size: 1.2222rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-color);
  letter-spacing: 0.03em;

  &--two-elements {
    padding: 14px 23px;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--card-background);
    border-radius: 5px;
  }
}

// .colors-article__example-text {
//   margin: 0;
// }

.colors-article__example-block-icon-wrapper {
  width: 44px;
  height: 44px;
  color: var(--text-color);
}
