.feedback {
  margin: 0 0 118px 0;
}

.feedback__wrapper {
  padding: 50px 60px 80px 60px;
  background-color: var(--secondary-background-color);
  border-radius: 45px;
  transition: background-color 0.5s ease;
}

.feedback__title {
  margin: 0 0 40px 0;
}

.feedback__text {
  margin: 0 0 50px 0;
}
