.form-area {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 36px;
}

.form-area__fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 0;
  margin: 0;
  border: none;
}

.form-area__input,
.form-area__comment {
  padding: 21px 46px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--input-background);
  border: 2px solid var(--scrollbar-track-color);
  border-radius: 26px;
  transition:
    border-color 0.5s ease,
    color 0.3s ease;

  &::placeholder {
    transition: opacity 0.5s ease;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    opacity: 0.7;
  }

  &:focus {
    border-color: var(--primary-text-color);
    outline: none;
  }

  &:invalid {
    color: var(--error-color);
  }
}

.form-area__comment {
  min-height: 176px;
  resize: none;
}

.form-area__button {
  justify-self: center;
}
