.important-color__purpose {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 30px;
  align-items: center;
}

.important-color__example {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 33px 46px;
  border: 3px solid var(--secondary-border-color);
  border-radius: 30px;
}
