.important-color__block-text {
  margin: 0;
}

.important-color__block-text--emotion,
.important-color__block-text--influence {
  max-width: 360px;
}

.important-color__block--purpose {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  gap: 20px 40px;
  align-items: center;
}

.important-color__example {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / -1 / -1;
  gap: 53px;
  align-items: center;
  padding: 55px 101px;
  border: 3px solid var(--secondary-border-color);
  border-radius: 30px;
}
