.inner-nav {
  padding: 0 0 0 31px;
  overflow: hidden;
}

.inner-nav__item:not(:last-child) {
  margin: 0 0 12px 0;

  &:first-child {
    margin: 24px 0 12px 0;
  }
}

.inner-nav__link {
  position: relative;
  font-size: 1rem;
  color: var(--secondary-text-color);

  &::before {
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 1px;
    content: "";
    background-color: var(--secondary-text-color);
    opacity: 0;
    transition:
      width 0.5s ease,
      opacity 0.5s ease;
    transform: translateX(-50%);
  }

  &:hover::before,
  &.active::before {
    width: 100%;
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px dashed var(--secondary-text-color);
  }
}
