.main-colors__example {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 37px;

  &--background {
    grid-template-columns: 260px 1fr;
    margin: 0 0 20px 0;
  }

  &--background:last-of-type,
  &--background:nth-of-type(2) {
    margin: 0 0 40px 0;
  }
}

.main-colors__example-text {
  margin: 0;
}

.main-colors__example-text-wrapper .main-colors__example-text:first-child {
  margin: 0 0 20px 0;
}

.main-colors__list {
  padding: 30px 0 0 22px;
  margin: 0;
}

.main-colors__list-item {
  margin: 0 0 15px 0;
}
