.main-colors__example-text {
  margin: 0;
}

.main-colors__example-text-wrapper .main-colors__example-text:first-child {
  margin: 0 0 20px 0;
}

.main-colors__list {
  padding: 30px 0 0 22px;
  margin: 0;
}

.main-colors__list-item {
  margin: 0 0 15px 0;
}
