.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  visibility: hidden;
  background-color: var(--transparent-color-01);
  backdrop-filter: blur(20px);
  opacity: 0;
  transition: 0.5s ease;
}

.modal__body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  max-width: 590px;
  min-height: 708px;
  padding: 25px 30px 78px 30px;
  overflow: hidden;
  color: var(--secondary-text-color);
  background-color: var(--primary-background-color);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  transition: transform 0.5s ease;
  transform: translateY(35px);

  &::after {
    position: absolute;
    top: -50%;
    left: 50%;
    width: 697px;
    height: 697px;
    content: "";
    background-color: var(--secondary-background-color);
    border-radius: 50%;
    transform: translateX(-50%);
  }
}

.modal__icon-container {
  position: absolute;
  top: 118px;
  left: 50%;
  z-index: 2;
  color: var(--like-color);
  transform: translateX(-50%);
}

.modal__body-title,
.modal__body-text {
  margin: 0;
}

.modal__body-text {
  text-align: center;
}

.modal__body-button {
  margin-top: 20px;
}

.modal.modal--active {
  pointer-events: all;
  visibility: visible;
  opacity: 1;

  .modal__body {
    transform: translateY(0);
  }
}
