.page {
  height: 100%;
  font-size: 18px;
  scroll-behavior: smooth;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-color);
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
  transition:
    color 0.5s ease,
    background-color 0.5s ease;
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-track-color) var(--scrollbar-color);
}

.page-body::-webkit-scrollbar {
  width: 8px;
}

.page-body::-webkit-scrollbar-track {
  background: var(--scrollbar-color);
}

.page-body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-track-color);
  border: 3px solid transparent;
  border-radius: 20px;
}

