.principles__text:last-of-type {
  margin: 0;
}

.principles__example {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 30px 69px 57px 69px;
  border: 5px solid var(--secondary-border-color);
  border-radius: 30px;
}

.principles__example-block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
}

.principles__example-block-element {
  align-self: stretch;
  padding: 42px;
  background-color: var(--card-background);
  border-radius: 10px;
}

.principles__example-text {
  font-size: 1.2222rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.03em;

  &--invalid {
    color: var(--invalid-text-color);
  }
}
