.text-list {
  display: flex;
  gap: 38px;
  justify-content: space-between;
}

.text-list__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 48px 65px 52px 65px;
  font-size: 0.8889rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.03em;
  border: 3px solid var(--primary-text-color);
  border-radius: 30px;
  transition: border-color 0.5s ease;

  &--secondary-font {
    padding: 43px 48px 47px 48px;
  }
}

.text-list__text {
  &--top {
    font-family: "Srbija Sans", sans-serif;
    font-size: 2.2222rem;
    font-weight: 400;
    line-height: 1.25em;
  }

  &--secondary-font {
    font-size: 3.3333rem;
    font-weight: 400;
    line-height: 1em;
  }
}
