.text-article {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 309px 1fr;
  gap: 20px;
  padding: 50px 60px 80px 60px;
  border: 3px solid var(--secondary-border-color);
  border-radius: 50px;

  &--last {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 221px 1fr;
  }
}

.text-article__title {
  grid-area: 1 / 1 / 2 / -1;
  margin: 0 0 10px 0;
}

.text-article__example {
  grid-area: -2/ 1 / -1 / -1;
}

.text-article__button {
  align-self: start;
}
