@import "./global/global.scss";
@import "./global/variables.scss";
@import "./global/fonts.scss";
@import "./blocks/page.scss";
@import "./blocks/container.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/list-reset.scss";
@import "./blocks/animations.scss";
@import "./blocks/title.scss";
@import "./blocks/theme-button.scss";
@import "./blocks/button.scss";
@import "./blocks/header.scss";
@import "./blocks/main-navigation.scss";
@import "./blocks/navigation-list.scss";
@import "./blocks/nav-wrapper.scss";
@import "./blocks/article.scss";
@import "./blocks/feedback.scss";
@import "./blocks/form-area.scss";
@import "./blocks/social-list.scss";
@import "./blocks/footer.scss";
@import "./blocks/modal.scss";
@import "./blocks/main-inner.scss";
@import "./blocks/inner-navigation.scss";
@import "./blocks/nav-list.scss";
@import "./blocks/inner-nav.scss";
@import "./blocks/important-color.scss";
@import "./blocks/flex.scss";
@import "./blocks/principles.scss";
@import "./blocks/color.scss";
@import "./blocks/main-colors.scss";
@import "./blocks/colors-example.scss";
@import "./blocks/colors-rules.scss";
@import "./blocks/colors-article.scss";
@import "./blocks/grid-concept.scss";
@import "./blocks/table.scss";
@import "./blocks/usage-radius.scss";
@import "./blocks/usage-border.scss";
@import "./blocks/tasks-list.scss";
@import "./blocks/grid-list.scss";
@import "./blocks/values-list.scss";
